.bg_login {
  background-color: #e1dddb;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .footer_login {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;

    .footer_text {
      margin-right: 12px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      padding: 8px 10px;
    }
  }
}

.container_login {
  background-color: #ffffff;
  width: 440px;
  height: 385px;
  padding: 44px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);

  .div_login {
    width: 100%;
    .logo {
      margin-bottom: 13px;
    }

    .body_login {
      .text_login {
        color: #000;
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 13px;
      }

      .div_input {
        border-bottom: 0.5px solid #6e6a6a;
        margin-bottom: 20px;
        .input_login {
          height: 36px;
          width: 100%;
          outline: none;
          border: none;
        }
      }

      .link_login {
        display: inline-block;
        color: #0067b8;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 0.8rem;
      }
    }

    .btn_login {
      outline: none;
      border: none;
      float: right;
      height: 35px;
      width: 140px;
      outline: none;
      border: none;
      color: #fff;
      background:  #0067b8;
      cursor: pointer;
      // background-size: 200%;
      // background-image: linear-gradient(to right, #0067b8, #2f41e6, #0067b8);
      // transition: 0.5s;
      // &:hover {
      //   background-position: right;
      // }
    }
  }
}

@media screen and (max-width: 600px) {
  .container_login {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    padding: 20px 25px;
    display: flex;
    justify-content: center;

    .div_login {
      width: 400px;
      .body_login {
        h3 {
          color: #0067b8;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 0.75rem;
        }
      }
    }
  }
}
